body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Defina a altura da tela inteira */
    margin: 0;
    background-image: url('https://media.giphy.com/media/bKj0qEKTVBdF2o5Dgn/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Isso ajuda a imagem a permanecer fixa em dispositivos móveis */
}

/* Adicione uma media query para estilos específicos de dispositivos móveis */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Use 'contain' para ajustar a imagem em dispositivos móveis */
        background-attachment: scroll; /* Rolar a imagem normalmente em dispositivos móveis */
    }
}

h1 {
    color: #800000;
    font-size: 36px;
    margin: 20px;
}

#password {
    background-color: white;
    font-size: 24px;
    margin: 20px;
    padding: 10px;
    border: 0.5px solid #ccc;
}

#generate,  #copy {
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 200px;
}

#copy {
    background: linear-gradient(to right, #6157FF, #9933FF);
}

#copy.copied {
    background: linear-gradient(to right, #00ff0d, #58ffba);
    color: black;
    font-weight: bold;
}

/* Estilos para telas menores (tablets e smartphones) */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    #password {
        font-size: 18px;
    }

    #generate, #copy {
        font-size: 14px;
        width: 150px;
    }
}
